#bottle{
 background-color:coral;
 font: 20px;
}

#dumble{
    background-color:coral
   }

   #glasses{
    background-color:coral
   }


   #painting{
    background-color:coral
   }


   #speaker{
    background-color:coral
   }


   #trophy{
    background-color:coral
   }
